
     <div class="col-md-4 mx-auto p-4">
        <div class="card ">
            <div class="card-body">
                <form action="/table/introducir" method="POST">
                <!--si quiero introducir las fechas para consulta-->
                     <!--
                     <div class="form-group"> 
                         <input type="date" class="form-control" name="selectorfecha1" placeholder="selectorfecha1" autofocus>
                      </div>
                      <div class="form-group">
                            <input type="date" class="form-control" name="selectorfecha2" placeholder="selectorfecha2" >
                      </div>
                     <div class="form-group">
                         <button class="btn btn-success btn-block">
                             consultar
                         </button> 

                     </div> 
                     -->
                         <!--si quisiera introducir datos de temperatura y humedad-->
                         
                         <div class="form-group"> 
                         <input type="date" class="form-control" name="Fecha" placeholder="Fecha" autofocus>
                      </div>
                      <div class="form-group">
                            <input type="number" class="form-control" name="Humedad" placeholder="Humedad" >
                      </div>
                      <div class="form-group">
                            <input type="number" class="form-control" name="Temperatura" placeholder="Temperatura" >
                      </div>
                     <div class="form-group">
                         <button class="btn btn-success btn-block">
                             Introducir
                         </button> 

                     </div>  
                     
                 </form>
            </div>
        </div>
     </div>     
