node_modules
Docs/0-old/Fichas megalitos exportadas_GD_3_1.csv
Docs/0-old/Fichas megalitos exportadas_GD_3_utf.csv
Docs/0-old/Fichas megalitos exportadas_GD_3.csv
Docs/0-old/Fichas megalitos exportadas_GD2_2.ods
Docs/0-old/Fichas megalitos exportadas_GD2.ods
Docs/0-old/clasificacion.csv
