<main class="index">
    <header class="masterhead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Megalitos Navarra</h1>
            <h3 class="mb-5">
                <em>Recopilación de yacimientos megalítocos de Navarra</em>
            </h3>
            <a class="btn btn-lg" href="/table">
                Entra aquí para ver más
            </a>
            <div class="row">
                <div class="card p-3 m-2 text-muted">
                    <p>Recuperamos aquí, en formato digital y después de muchos años, el legado que Miguel Ezkurdia donó
                        a la Sociedad de Ciencias Naturales Gorosti Natur Zientzi Elkartea.
                        Era nuestro deber como depositarios del mismo el hacer este esfuerzo y que su trabajo de tantos
                        años quede, al menos en la medida de lo posible, disponible para las generaciones actuales y las
                        venideras.
                        <br>
                        Queremos agradecer, particularmente, el esfuerzo de muchos socios de Gorosti para conservar
                        este legado y facilitar su digitalización y especialmente a Guillermo Deán que finalmente ha
                        creado esta plataforma web.
                    </p>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </header>
    <footer>
        <div style="text-align:center">Copyright. Sociedad de Ciencias Naturales Gorosti/Gorosti Natur Zientzi Elkartea,
            Calderería 34, bajo, 31001, Pamplona, Navarra, España, 948226700 <a
                href="mailto:gorosti@gorosti.org">gorosti@gorosti.org</a> <a href="http://www.gorosti.org"
                rel="nofollow">www.gorosti.org</a>
            <!--<a href="mailto:jidean@ya.com">webmaster</a>--><br /></div>
    </footer>
</main>