<main class="index">
    <header class="masterhead d-flex">
        <div class="container text-center mt-5">
            <h1 class="mb-1">Megalitos Navarra</h1>
            <h3 class="mb-5">
                <p>Recopilación de yacimientos megalíticos de Navarra</p>
            </h3>
            <div class="div m-5">
                <a class="btn btn-lg" href="/table">
                Listado de Megalitos
            </a>
            </div>
            
            <div class="row mt-9">
                <div class="card card-index p-3 m-5 text-muted">
                    <p>Recuperamos aquí, en formato digital y después de muchos años, el legado que Miguel Ezkurdia donó
                        a la Sociedad de Ciencias Naturales Gorosti Natur Zientzi Elkartea.
                        Era nuestro deber como depositarios del mismo el hacer este esfuerzo y que su trabajo de tantos
                        años quede, al menos en la medida de lo posible, disponible para las generaciones actuales y las
                        venideras.
                        <br>
                        Queremos agradecer, particularmente, el esfuerzo de muchos socios de Gorosti para conservar
                        este legado y facilitar su digitalización y especialmente a Guillermo Deán que finalmente ha
                        creado esta plataforma web.
                    </p>
                </div>
            </div>
        </div>
        
    </header>
    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

            <!-- Content -->
            <h5 class="text-uppercase">SCN Gorosti</h5>
            <p>Sociedad de Ciencias Naturales Gorosti Natur Zientzi Elkartea</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">RRSS</h5>

            <ul class="list-unstyled">
            <li>
                <a href="https://www.facebook.com/SCN-Gorosti-Gorosti-NZE-164619546985080/?ref=hl">Facebook</a>
            </li>
            <li>
                <a href="https://twitter.com/SCNGorosti">Twitter</a>
            </li>
            <li>
                <a href="https://www.youtube.com/user/SCNGorosti?feature=mhee">Youtube</a>
            </li>
            
            </ul>

        </div>
        
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
            <li>
                <a href="https://sites.google.com/site/scngorosti/">Gorosti</a>
            </li>
            <li>
                <a href="http://www.guiavisual-gorosti.org/galeria/">Guia visual</a>
            </li>
            <li>
                <a href="http://guiavisual-gorosti.org/foro/">Foros</a>
            </li>
            <li>
                <a href="http://www.guiavisual-gorosti.org/cgi-bin/bd_gorosti.cgi">Obsevaciones y mapas</a>
            </li>
            </ul>

        </div>
        <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://sites.google.com/site/scngorosti/"> Sociedad de Ciencias Naturales Gorosti/Gorosti Natur Zientzi Elkartea,
                    Calderería 34, bajo, 31001, Pamplona, Navarra, España, 94822670</a>
    </div>
    <!-- Copyright -->

    </footer>
    <!-- Footer -->
</main>
