<main class="index">
    <header class="masterhead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Megalitos Navarra</h1>
            <h3 class="mb-5">
                <em>Recopilación de yacimientos megalítocos de Navarra</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/table">
                Entra aquí para ver más
            </a>
            <div class="row">
                <div class="card p-5 m-5 text-muted">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </header>
    <footer>
        <div style="text-align:center">Copyright. Sociedad de Ciencias Naturales Gorosti/Gorosti Natur Zientzi Elkartea,
            Calderería 34, bajo, 31001, Pamplona, Navarra, España, 948226700 <a
                href="mailto:gorosti@gorosti.org">gorosti@gorosti.org</a> <a href="http://www.gorosti.org"
                rel="nofollow">www.gorosti.org</a>
            <!--<a href="mailto:jidean@ya.com">webmaster</a>--><br /></div>
    </footer>
</main>