<div class="col md-4 mx-auto p-4">
    <div class="card text-center">
        <div class="card-body">
            <h3>Welcome {{user.fullname}} pringau</h3>
            <h3>{{user.username}}</h3>
            <a href="/table" class="btn btn-dark">Arduino</a>
            <a href="/citaprevia" class="btn btn-dark">Cita previa</a>
            <a href="/users" class="btn btn-dark">Usuarios</a>
            </div>
        </div>
    </div>
</div>