 body {
    background:#e4e8eb;
    font-family: 'Roboto',sans-serif;
    overflow: auto ;
 }
 
 .index{
     width: 100vw;
     height: 100vh;
     
 }
 .btn{
     background-color: #7d967d;
     color:white;
     border-color: #556655;
 }
 .btn:hover {
    background-color: #556655; 
    color: white;
    border-color: #556655;
  }
 .masterhead {
     color: #3f3f3f;
     min-height: auto;
     width: 100%;
     height: 100%;
     padding-top: 8rem;
    background: url('/img/fondomega.jpg');
    background-position: center;
    background-size: cover;
    }
.masterhead h1{
    font: 4rem;
    margin:0;
    padding: 0;
}
@media (min-width:992px) {
    .masterhead h1{
        font-size:5.5rem;
    }
    
}
.myTable {
    background-color: rgb(99, 112, 99);
    overflow:scroll;
    
}
table{
    background-color: aliceblue;
}
.contenedor {
    width: 100%;
}

.select,
#locale {
  width: 100%;
}
.like {
  margin-right: 10px;
}

.card{
    opacity: 0.75;
}

.card-body{
    opacity: 1;
    color: black;
}

.carousel .carousel-inner{
    height:500px
    }
    .carousel-inner .carousel-item img{
    background-color: #3f3f3f;
    min-height:200px;
    max-height: 500px;
    /* prevent it from stretch in screen size < than 500*/
    object-fit:contain;
    }
    
    @media(max-width:768px){
    .carousel .carousel-inner{
    /*prevent it from adding a white space between carousel and container elements*/
    height:auto;
     }
    }


