body {
    background:#f0fffa;
    font-family: 'Roboto',sans-serif;
    overflow: auto ;
}
.page-footer{
    color:#3f3f3f;
    background-color: #ffffff;
    
}
a {
    color: #82d6b6;
    text-decoration: none;
    background-color: transparent;
}
a:hover{
    color:  #e2ffed;
    text-decoration: none;
    background-color: transparent;
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #82d6b6;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    color: #e2ffed
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color:#82d6b6;
    border-color: #e2ffed;
    
}

.custom-control-label::before, .custom-file-label, .custom-select {
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    
}
 .index{
     width: 100vw;
     height: 100vh;
     
}
.btn{
     background-color: #ffffff;
     color: #3f3f3f;
     border-color: #82d6b6;
}
.btn:hover {
    background-color: #82d6b6; 
    color: white;
    border-color: #82d6b6;
 }
.masterhead {
     color: #3f3f3f;
     min-height:min-content;
     width: 100%;
     height: 100%;
     padding-top: 1%;
     background: url('/img/fondomega_1.jpg');
     background-position: center;
     background-size: cover;
    }

.masterhead h1{
     font: 4rem;
     margin: 0;
     padding: 0;
     
     opacity:0.75;

    }
.masterhead h3{
     font: 4rem;
     margin:0;
     padding: 0;
     
     opacity: 0.75;
    }
@media (min-width:992px) {
    .masterhead h1{
        font-size:5.5rem;
    }
    
}
.myTable {
    background-color: rgb(255, 255, 255);
    overflow:scroll;
    color: #82d6b6;
    border-collapse: collapse;
 
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color:#ffffff;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    background-color: hsl(157, 50%, 75%);
    color:#fff;
    

}
.card-header{
    font-size: 22px;
    background-color:  #e2ffed;
}
.card{
    background-color: #f8f8ef;
}
tfoot {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    background-color: #82d6b6;
    color:#fff;
    
    
}

.contenedor {
    width: 100%;
}

.select,
#locale {
  width: 100%;
}
.like {
  margin-right: 10px;
}

.card{
    opacity: 0.85;
}

.card-body{
    opacity: 1;
    color: black;
}

@media screen and (min-width: 601px) {
    td{
        font-size: 15px;
      }
    tfoot{
        font-size: 15px;
    }
    thead{
        font-size: 15px;
    }
    .btn{
        font-size: 15px;
    }
}
  
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */

@media screen and (max-width: 600px) {
    td{
      font-size: 9px;
      
    }
    tfoot{
        font-size: 9px;
        
      }
    thead{
        font-size: 9px;
        
    }
    .btn{
        font-size: 9px;
        
    }
    .p{
        font-size: 9px;
    }
    .page-link {
        font-size: 9px;
    }
    label{
        font-size: 9px;
    }
   
}



.carousel .carousel-inner{
    height:500px
    }
    .carousel-inner .carousel-item img{
    background-color: #3f3f3f;
    min-height:200px;
    max-height: 500px;
    /* prevent it from stretch in screen size < than 500*/
    object-fit:contain;
    }
    
    @media(max-width:768px){
    .carousel .carousel-inner{
    /*prevent it from adding a white space between carousel and container elements*/
    height:auto;
     }
    }


