
                                                   
                <style>
                    #calendar {
                        max-width: 800px;
                        margin: 0 auto;
                    }
                </style>
                <div id='calendar'></div>

  

