
<div class="col-md-4 mx-auto p-4">
    <div class="card">
        <div class="card-body">
            <form action="/citaprevia/edit/{{citaprevia.id}}" method="POST">
                <div class="form-group">
                            <input type="text" name="nombre" class="form-control" placeholder="Nombre" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="telefono" class="form-control" placeholder="telefono">
                        </div>
                        <div class="form-group">
                            <textarea name="direccion" rows="2" class="form-control" placeholder="Dirección"></textarea>
                        </div>
                    <button class="btn btn-success btn-block">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>