<div class="container">
    <div class="card m-4 p-4">
        <div class="card_body">
            <h1 class="card-title">Miguel Ezkurdia</h1>

            <p class="p-2">
                D. Miguel Ezkurdia, con su trabajo, nos legó un increíble legado sobre la localización y el estado de
                muchos dólmenes y cromlech en Navarra. Miguel dedicó muchos años a mejorar los inventarios existentes
                hasta ese momento y a recorrer, junto con su esposa, la geografía navarra para colocar los hitos en los
                diversos monumentos prehistóricos. Ese legado en papel se haya hoy en fondos documentales de la Sociedad
                Gorosti.
                <br><br>
                El primer campo de trabajo de jóvenes, se desarrolló en Mintxate en el año 1985 (donde se señalizaron
                los dólmenes de Mintxate I y II, Asolaze, Arrako y Sakulo), y la colocación del hito del dolmen de
                Soroluze en el año 1987. Desde estas líneas queremos mostrar nuestro reconocimiento y agradecimiento a
                Miguel por tu trabajo y tesón.
                Miguel Ezkurdia creo un equipo de voluntarios que durante muchos años marcó con hitos informativos una
                buena parte de los monumentos megalíticos descubiertos o conocidos. Así mismo, publicó varios artículos
                en la revista Cuadernos de Ciencias Naturales de Gorosti y de uno de ellos extraemos el siguiente texto:
                «Hace 5.000 años, en los valles pirenaicos navarros habitaban unas gentes, nuestros predecesores, que
                sobrevivían en medio de una naturaleza salvaje y hostil. Aquellos pobladores nos dejaron, entre otros
                testimonios de su existencia y cultura, los monumentos megalíticos (dólmenes, crómlech y menhires)
                <br><br>
                El megalitismo (megalito = piedra grande) es un fenómeno prehistórico propio de Europa occidental,
                relacionado generalmente con ritos funerarios, aunque algunas de sus manifestaciones presentan aún
                muchos puntos oscuros. Se tiene constancia de los dólmenes y los crómlech se utilizaron como sepulturas
                colectivas; sin embargo, hay muchos aspectos envueltos en el misterio: ¿En qué creencias estaban
                basados? ¿A quién o qué adoraban aquellas gentes? ¿Qué otro significado tenían? ¿Qué ritos se celebraban
                en ellos? ¿Qué finalidad tenían los menhires?...
                <br><br>
                Según algunos autores, los megalitos, situados en lugares muy visibles, servían como límites
                territoriales frente a otros grupos humanos.
                <br><br>

                La disposición de muchos de ellos da pie a teorías sobre una clara orientación astronómica (la mayoría
                de los dólmenes están orientados hacia el este, lugar por donde sale el sol). Otros hablan de
                representaciones estelares.
                <br><br>

                Posiblemente nunca se despejarán las incógnitas, lo cual mantendrá a estas grandes piedras y lo que
                representan en el misterio, simbolizado por las espesas nieblas que las envuelven desde hace miles de
                años.»
                Esperamos que con este trabajo podamos seguir aportando al conocimiento del megalitismo en Navarra,
                promover con ello la continuidad de su estudio y contribuir a responder a las preguntas que se hacía
                Miguel Ezkurdia.
                <br>
            </p>
        </div>
    </div>
</div>