<div class="col-md-4 mx-auto p-4">
    <div class="card text-centered">
        <div class="card-header">
            <h3>Signin</h3>
        </div>
        <img src="/img/logo-oso.png" alt="logo oso" class="mx-auto m-2 rounded-circle">
        <div class="card-body">
            <form action="/signin" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="nombre usuario">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="contraseña">
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">Sign in</button>
                </div>
            </form>
        </div>
    </div>
</div>